.dashboard-wrapper {
    background-color: #f5f7fb;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  .app-bar {
    background-color: #e5ecfc !important;
    border-radius: 8px !important;
    margin-bottom: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  }
  
  .logo-icon {
    color: #4A4AFF;
    margin-right: 8px;
  }
  
  .logo-text {
    color: #4A4AFF !important;
    font-weight: bold;
  }
  
  .logo-highlight {
    color: #FF66B2;
  }
  
  .logout-button {
    background-color: #581ade !important;
    color: white !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    font-weight: bold !important;
    transition: background 0.3s ease, transform 0.2s ease !important;
  }
  
  .logout-button:hover {
    background-color: #5321f7 !important;
    transform: scale(1.05);
  }
  
  .metric-card {
    background-color: rgb(84, 125, 214) !important;
    color: white !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1) !important;
    border-radius: 16px !important;
    transition: transform 0.3s ease !important;
    cursor: pointer;
  }
  
  .metric-card:hover {
    transform: translateY(-5px);
  }
  
  .card-menu-button {
    color: white !important;
  }
  
  .card-title {
    margin-top: 16px !important;
    margin-bottom: 8px !important;
    font-weight: 600 !important;
  }
  
  .card-description {
    opacity: 0.9;
  }
  
  .section-title {
    margin-bottom: 24px !important;
    font-weight: bold !important;
    color: #333;
  }
  
  .data-grid-paper {
    padding: 24px;
    background-color: #ffffff;
}